$appearances: filled, outlined, text;
$sizes: compact, comfortable, spacious, dense;
$variants: primary, secondary, brand, error, success, warning, light, dark, surface;

.ids-button {
  flex-shrink: 0;
  width: fit-content;
  align-items: center;
  display: inline-flex;
  justify-content: center;

  &:focus {
    outline-offset: 2px;
    outline: var(--ids-comp-buttons-focused-outline-size-outline) solid var(--ids-comp-buttons-focused-outline-color-dark-focused);

    &.ids-button-light {
      outline-color: var(--ids-comp-buttons-focused-outline-color-light-focused);
    }
  }

  &:active {
    outline: none;
  }

  *[icon-leading],
  *[icon-trailing] {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @each $size in $sizes {
    &.ids-button-#{$size} {
      gap: var(--ids-comp-buttons-size-gap-#{$size});
      height: var(--ids-comp-buttons-size-height-#{$size});
      min-width: var(--ids-comp-buttons-size-min-width-#{$size});
      padding: var(--ids-comp-buttons-size-padding-y-#{$size}) var(--ids-comp-buttons-size-padding-x-#{$size});
      border-radius: var(--ids-comp-buttons-size-border-radius-#{$size});
      border: var(--ids-comp-buttons-size-border-width-#{$size}) solid;

      & > .ids-button-label {
        font-family: var(--ids-comp-buttons-label-typography-font-family-#{$size});
        font-size: var(--ids-comp-buttons-label-typography-font-size-#{$size});
        font-weight: var(--ids-comp-buttons-label-typography-font-weight-#{$size});
        letter-spacing: var(--ids-comp-buttons-label-typography-letter-spacing-#{$size});
        line-height: var(--ids-comp-buttons-label-typography-line-height-#{$size});
      }

      *[icon-leading],
      *[icon-trailing] {
        width: var(--ids-comp-buttons-size-icon-#{$size});
        height: var(--ids-comp-buttons-size-icon-#{$size});
      }
    }
  }

  @each $appearance in $appearances {
    @each $variant in $variants {
      &.ids-button-#{$appearance}.ids-button-#{$variant} {
        color: var(--ids-comp-buttons-#{$appearance}-color-fg-label-#{$variant}-enabled);
        background: var(--ids-comp-buttons-#{$appearance}-color-bg-#{$variant}-enabled);
        border-color: var(--ids-comp-buttons-#{$appearance}-color-border-#{$variant}-enabled);

        &:hover {
          background: var(--ids-comp-buttons-#{$appearance}-color-bg-#{$variant}-hovered);
          color: var(--ids-comp-buttons-#{$appearance}-color-fg-label-#{$variant}-hovered);
          border-color: var(--ids-comp-buttons-#{$appearance}-color-border-#{$variant}-hovered);
        }

        &:focus {
          outline-offset: 2px;
          background: var(--ids-comp-buttons-#{$appearance}-color-bg-#{$variant}-focused);
          color: var(--ids-comp-buttons-#{$appearance}-color-fg-label-#{$variant}-focused);
          border-color: var(--ids-comp-buttons-#{$appearance}-color-border-#{$variant}-focused);
        }

        &:active {
          background: var(--ids-comp-buttons-#{$appearance}-color-bg-#{$variant}-pressed);
          color: var(--ids-comp-buttons-#{$appearance}-color-fg-label-#{$variant}-pressed);
          border-color: var(--ids-comp-buttons-#{$appearance}-color-border-#{$variant}-pressed);
        }

        &:disabled {
          background: var(--ids-comp-buttons-#{$appearance}-color-bg-#{$variant}-disabled);
          color: var(--ids-comp-buttons-#{$appearance}-color-fg-label-#{$variant}-disabled);
          border-color: var(--ids-comp-buttons-#{$appearance}-color-border-#{$variant}-disabled);
        }
      }
    }
  }
}
