@use 'sass:map';

$sizes: compact, comfortable, spacious, dense;
$variants: primary, secondary, light, dark, surface;

.ids-avatar {
  display: flex;
  font-style: normal;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-style: solid;

  &:not(:disabled) {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
  }

  & &-icon {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  & &-image {
    border-radius: 50%;
    vertical-align: middle;
    max-width: none;
  }

  &:focus,
  &:focus-visible {
    outline-offset: 2px;
    outline-style: solid;
  }

  &:active {
    outline: none;
  }

  @each $size in $sizes {
    &.ids-avatar-#{$size} {
      width: var(--ids-comp-avatar-size-height-#{$size});
      height: var(--ids-comp-avatar-size-width-#{$size});
      gap: var(--ids-comp-avatar-size-gap-#{$size});
      border-radius: var(--ids-comp-avatar-size-border-radius-#{$size});
      padding: var(--ids-comp-avatar-size-padding-y-#{$size}) var(--ids-comp-avatar-size-padding-x-#{$size});
      border: var(--ids-comp-avatar-size-border-#{$size});
      font-family: var(--ids-comp-avatar-initials-typography-font-family-#{$size});
      font-size: var(--ids-comp-avatar-initials-typography-font-size-#{$size});
      font-weight: var(--ids-comp-avatar-initials-typography-font-weight-#{$size});
      letter-spacing: var(--ids-comp-avatar-initials-typography-letter-spacing-#{$size});
      line-height: var(--ids-comp-avatar-initials-typography-line-height-#{$size});

      &:focus,
      &:focus-visible {
        outline-width: var(--ids-comp-avatar-focused-outline-size-outline);
      }

      &:has(.ids-avatar-image) {
        padding: 0;
      }

      .ids-avatar-image {
        width: var(--ids-comp-avatar-size-width-#{$size});
        height: var(--ids-comp-avatar-size-height-#{$size});
      }
    }
  }

  @each $variant in $variants {
    &.ids-avatar-#{$variant} {
      color: var(--ids-comp-avatar-color-fg-#{$variant}-default);
      background: var(--ids-comp-avatar-color-bg-#{$variant}-default);
      border-color: var(--ids-comp-avatar-color-border-#{$variant}-default);

      &:hover {
        background: var(--ids-comp-avatar-color-bg-#{$variant}-hovered);
        border-color: var(--ids-comp-avatar-color-border-#{$variant}-hovered);
      }

      &:focus,
      &:focus-visible {
        background: var(--ids-comp-avatar-color-bg-#{$variant}-focused);
        border-color: var(--ids-comp-avatar-color-border-#{$variant}-focused);

        $lightOrDark: 'dark';
        @if ($variant == 'light') {
          $lightOrDark: 'light';
        }
        outline-color: var(--ids-comp-avatar-focused-outline-color-#{$lightOrDark}-focused);
      }

      &:active {
        background: var(--ids-comp-avatar-color-bg-#{$variant}-pressed);
        border-color: var(--ids-comp-avatar-color-border-#{$variant}-pressed);
      }

      .ids-avatar-icon {
        path {
          fill: var(--ids-comp-avatar-color-fg-#{$variant}-default);
        }
      }
    }
  }
}
