@use '../reset';

$sizes: compact, comfortable, spacious, dense;
$variants: light, dark;

.ids-tooltip {
  @include reset.component;
  display: block;

  & > .ids-tooltip__content {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: max-content;
  }

  @each $size in $sizes {
    &.ids-tooltip-#{$size} {
      & > .ids-tooltip__content {
        max-width: var(--ids-comp-tooltip-size-max-width-#{$size});
        padding: var(--ids-comp-tooltip-size-padding-y-#{$size}) var(--ids-comp-tooltip-size-padding-x-#{$size});
        border-radius: var(--ids-comp-tooltip-size-border-radius-#{$size});
        font-family: var(--ids-comp-tooltip-label-typography-font-family-#{$size});
        font-size: var(--ids-comp-tooltip-label-typography-font-size-#{$size});
        font-weight: var(--ids-comp-tooltip-label-typography-font-weight-#{$size});
        letter-spacing: var(--ids-comp-tooltip-label-typography-letter-spacing-#{$size});
        line-height: var(--ids-comp-tooltip-label-typography-line-height-#{$size});
      }

      &.ids-tooltip-position {
        $caretDiagonal: var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2);
        &-north {
          padding-bottom: calc($caretDiagonal);
        }
        &-northeast {
          padding-bottom: calc($caretDiagonal);
        }
        &-east {
          padding-left: calc($caretDiagonal);
        }
        &-southeast {
          padding-top: calc($caretDiagonal);
        }
        &-south {
          padding-top: calc($caretDiagonal);
        }
        &-southwest {
          padding-top: calc($caretDiagonal);
        }
        &-west {
          padding-right: calc(var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2));
        }
        &-northwest {
          padding-bottom: calc($caretDiagonal);
        }
      }
    }
  }

  @each $variant in $variants {
    &.ids-tooltip-#{$variant} {
      & > .ids-tooltip__content {
        background-color: var(--ids-comp-tooltip-color-bg-#{$variant}-default);
        color: var(--ids-comp-tooltip-color-fg-#{$variant}-default);
      }
    }
  }

  &.ids-tooltip-text-align {
    &-center > .ids-tooltip__content {
      text-align: center;
    }
    &-right > .ids-tooltip__content {
      text-align: right;
    }
    &-left > .ids-tooltip__content {
      text-align: left;
    }
    &-auto {
      &.ids-tooltip-position {
        &-north,
        &-south {
          text-align: center;
        }
        &-east,
        &-northeast,
        &-southeast {
          text-align: left;
        }
        &-west &-northwest,
        &-southwest {
          text-align: right;
        }
      }
    }
  }

  &.ids-tooltip-pointered {
    & > .ids-tooltip__content::after {
      position: absolute;
      content: ' ';
      transform: rotate(-45deg);
    }

    &.ids-tooltip-position {
      &-north,
      &-south {
        & > .ids-tooltip__content::after {
          left: auto;
          right: auto;
        }
      }
      &-east,
      &-west {
        & > .ids-tooltip__content::after {
          top: auto;
          bottom: auto;
        }
      }
      &-northeast,
      &-southeast {
        & > .ids-tooltip__content::after {
          left: 10px;
        }
      }
      &-northwest,
      &-southwest {
        & > .ids-tooltip__content::after {
          right: 10px;
        }
      }
    }

    @each $size in $sizes {
      &.ids-tooltip-#{$size} {
        & > .ids-tooltip__content::after {
          width: var(--ids-comp-tooltip-size-caret-size-#{$size});
          height: var(--ids-comp-tooltip-size-caret-size-#{$size});
        }

        &.ids-tooltip-position {
          $caretDiagonal: var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2);
          &-north {
            & > .ids-tooltip__content::after {
              bottom: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
            }
          }
          &-northeast {
            margin-left: calc(-10px - ($caretDiagonal));
            & > .ids-tooltip__content::after {
              bottom: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
            }
          }
          &-east {
            & > .ids-tooltip__content::after {
              left: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
            }
          }
          &-southeast {
            margin-left: calc(-10px - $caretDiagonal);
            & > .ids-tooltip__content::after {
              top: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
            }
          }
          &-south {
            & > .ids-tooltip__content::after {
              top: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
            }
          }
          &-southwest {
            margin-right: calc(-10px - $caretDiagonal);
            & > .ids-tooltip__content::after {
              top: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
            }
          }
          &-west {
            padding-right: calc(var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2));
            & > .ids-tooltip__content::after {
              right: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
            }
          }
          &-northwest {
            margin-right: calc(-10px - $caretDiagonal);
            & > .ids-tooltip__content::after {
              bottom: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
            }
          }
        }
      }
    }

    @each $variant in $variants {
      &.ids-tooltip-#{$variant} {
        & > .ids-tooltip__content::after {
          background: var(--ids-comp-tooltip-color-bg-#{$variant}-default);
        }
      }
    }
  }
}
