@use "../reset";

$sizes: compact, comfortable, spacious, dense;

.ids-autocomplete {
  @include reset.component;
  // hide autocomplete to exclude it from the layout
  display: none;

  &-panel {
    overflow: auto;
    width: 100%;
    padding: 8px;
    scrollbar-width: thin;
  }

  &-overlay-panel {
    width: 100%;
  }

  &-controls {
    display: flex;
    gap: 8px;
    padding-right: 5px;
    align-items: center;
  }

  &-chip-list {
    &:not(:has(button:first-child)) {
      display: none;
    }

    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 4px;

    button[idsChip].ids-chip {
      // override ids-form-field 'border-style: none'
      border-style: solid !important;

      & > div.ids-chip__label {
        text-align: left;
        word-break: break-all;
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
  }

  &-hint {
    &__wrapper {
      padding: 8px 12px;
    }
  }
}

input[autocomplete] {
  width: 100%;
  color: var(
    --ids-comp-forms-form-field-standard-field-wrapper-infix-filled-color-fg-text-surface-default
  );
  text-overflow: ellipsis;

  &:is([disabled]) {
    color: var(
      --ids-comp-forms-form-field-standard-field-wrapper-infix-filled-color-fg-text-surface-disabled
    );
  }
}

*:has(> input[autocomplete]) {
  width: 100%;
}
