@use "../reset";

$sizes: compact, comfortable, spacious, dense;

.ids-autocomplete {
  @include reset.component;
  // content should be displayed on the right part of the infix
  position: absolute;
  right: 0;

  &-panel {
    display: grid;
    overflow: auto;
    width: 100%;
    scrollbar-width: thin;
  }

  &-overlay-panel {
    width: 100%;
  }

  &-suffix {
    display: flex;
    align-items: center;
  }

  &-chip-list {
    // allow the chip list to be a sibling of the input, so they can wrap properly
    display: contents;

    button[idsChip].ids-chip {
      // override ids-form-field 'border-style: none'
      border-style: solid !important;

      & > div.ids-chip__label {
        text-align: left;
        word-break: break-all;
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
  }

  @each $size in $sizes {
    &.ids-autocomplete-#{$size} {
      & > .ids-autocomplete-suffix {
        gap: var(--ids-comp-forms-input-size-icons-gap-#{$size});

        > .ids-icon-button {
          height: var(--ids-comp-forms-input-icon-button-width-#{$size});
          width: var(--ids-comp-forms-input-icon-button-width-#{$size});

          .ids-icon {
            font-family: var(--ids-comp-forms-input-icon-button-typography-font-family-#{$size});
            font-size: var(--ids-comp-forms-input-icon-button-typography-font-size-#{$size});
            font-weight: var(--ids-comp-forms-input-icon-button-typography-font-weight-#{$size});
            line-height: var(--ids-comp-forms-input-icon-button-typography-line-height-#{$size});
          }
        }

        > .ids-icon {
          font-family: var(--ids-comp-forms-input-icon-typography-font-family-#{$size});
          height: var(--ids-comp-forms-input-icon-width-#{$size});
          width: var(--ids-comp-forms-input-icon-width-#{$size});
          font-size: var(--ids-comp-forms-input-icon-typography-font-size-#{$size});
          font-weight: var(--ids-comp-forms-input-icon-typography-font-weight-#{$size});
          line-height: var(--ids-comp-forms-input-icon-typography-line-height-#{$size});
        }

        .ids-spinner {
          width: var(--ids-comp-forms-input-size-spinner-#{$size});
          height: var(--ids-comp-forms-input-size-spinner-#{$size});
        }
      }
    }

    &-overlay-panel.ids-overlay-panel-#{$size} &-panel {
      gap: var(--ids-comp-forms-list-item-size-gap-#{$size});
      // avoid clipping the outline of the options
      padding: var(--ids-comp-forms-form-field-standard-field-wrapper-focused-outline-outline-compact);
      margin: calc(var(--ids-comp-forms-form-field-standard-field-wrapper-focused-outline-outline-compact) * -1);

      .ids-autocomplete-hint__wrapper {
        padding: 0 var(--ids-comp-forms-list-item-hint-text-size-padding-x-#{$size});
      }
    }
  }
}

input[autocomplete] {
  width: 100%;
  text-overflow: ellipsis;
}

@each $size in $sizes {
  input[autocomplete] {
    min-width: var(--ids-comp-forms-input-size-min-width-#{$size});
  }
}

.ids-form-field
  > .ids-form-field__field-wrapper
  > .ids-form-field__field-wrapper__container
  > .ids-form-field__infix {
  &:has(> input[autocomplete]) {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }

  @each $size in $sizes {
    &:has(> input[autocomplete] ~ .ids-autocomplete-#{$size}) {
      padding-right: var(--ids-comp-forms-form-field-standard-field-wrapper-infix-size-padding-right-#{$size});
    }

    &:has(> .ids-autocomplete-chip-list ~ input[autocomplete] ~ .ids-autocomplete-#{$size}) {
      gap: var(--ids-comp-forms-input-size-chip-input-gap-#{$size});
    }
  }
}
