$appearances: 'text', 'filled';
$variants: 'surface', 'light';
$sizes: 'compact', 'comfortable', 'spacious';

a.ids-menu-item {
  &:link, &:visited {
    text-decoration: none;
  }
}

.ids-menu-item {
  width: 100%;
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;


  &.ids-menu-item-no-label {
    justify-content: space-between;
  }

  .ids-menu-item-label {
    &--wrapper {
      display: flex;
      flex: 1 1 0;
      align-items: center;
      justify-content: flex-start;
    }

    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
  }

  &:not(:is(:disabled, .ids-menu-item-disabled)) {
    cursor: pointer;
  }
  &:is(:disabled, .ids-menu-item-disabled) {
    cursor: not-allowed;
  }

  @each $size in $sizes {
    &.ids-menu-item-#{$size} {
      gap: var(--ids-comp-menu-item-size-gap-#{$size});
      border-radius: var(--ids-comp-menu-item-size-border-radius-#{$size});
      padding: var(--ids-comp-menu-item-size-padding-y-#{$size}) var(--ids-comp-menu-item-size-padding-x-#{$size});
      height: var(--ids-comp-menu-item-size-height-#{$size});
      font-family: var(--ids-comp-menu-item-label-typography-font-family-#{$size});
      font-size: var(--ids-comp-menu-item-label-typography-font-size-#{$size});
      font-weight: var(--ids-comp-menu-item-label-typography-font-weight-#{$size});
      letter-spacing: var(--ids-comp-menu-item-label-typography-letter-spacing-#{$size});
      line-height: var(--ids-comp-menu-item-label-typography-line-height-#{$size});

      .ids-icon {
        width: var(--ids-comp-menu-item-size-icon-#{$size});
        height: var(--ids-comp-menu-item-size-icon-#{$size});
        font-size: var(--ids-comp-menu-item-icon-typography-font-size-#{$size});
        font-weight: var(--ids-comp-menu-item-icon-typography-font-weight-#{$size});
        line-height: var(--ids-comp-menu-item-icon-typography-line-height-#{$size});
      }

      @each $appearance in $appearances {
        @each $variant in $variants {
          &.ids-menu-item-#{$appearance}.ids-menu-item-#{$variant} {
            border-style: solid;
            border-width: var(--ids-comp-menu-item-size-border-width-#{$size});
            border-color: var(--ids-comp-menu-item-#{$appearance}-color-border-#{$variant}-default);

            &:hover {
              border-color: var(--ids-comp-menu-item-#{$appearance}-color-border-#{$variant}-hovered);
            }

            &:is(:disabled, .ids-menu-item-disabled) {
              border-color: var(--ids-comp-menu-item-#{$appearance}-color-border-#{$variant}-disabled);
            }
          }
        }
      }
    }
  }

  @each $appearance in $appearances {
    @each $variant in $variants {
      &.ids-menu-item-#{$appearance}.ids-menu-item-#{$variant} {
        color: var(--ids-comp-menu-item-#{$appearance}-color-fg-label-#{$variant}-default);
        background: var(--ids-comp-menu-item-#{$appearance}-color-bg-#{$variant}-default);

        &.ids-menu-item-active {
          color: var(--ids-comp-menu-item-#{$appearance}-color-fg-label-#{$variant}-active);
          background: var(--ids-comp-menu-item-#{$appearance}-color-bg-#{$variant}-active);
        }

        &:hover {
          color: var(--ids-comp-menu-item-#{$appearance}-color-fg-label-#{$variant}-hovered);
          background: var(--ids-comp-menu-item-#{$appearance}-color-bg-#{$variant}-hovered);
        }

        &:focus,
        &:focus-visible {
          color: var(--ids-comp-menu-item-#{$appearance}-color-fg-label-#{$variant}-focused);
          background: var(--ids-comp-menu-item-#{$appearance}-color-bg-#{$variant}-focused);
        }

        &:active {
          background: var(--ids-comp-menu-item-#{$appearance}-color-bg-#{$variant}-pressed);
        }

        &:is(:disabled, .ids-menu-item-disabled) {
          color: var(--ids-comp-menu-item-#{$appearance}-color-fg-label-#{$variant}-disabled);
          background: var(--ids-comp-menu-item-#{$appearance}-color-bg-#{$variant}-disabled);
        }
      }
    }
  }
}

.ids-active-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  
  &.ids-active-indicator--active:has(.ids-menu-item):after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  @each $size in $sizes {
    &.ids-active-indicator--active:has(.ids-menu-item.ids-menu-item-#{$size}):after {
      height: var(--ids-comp-menu-item-active-indicator-size-height-#{$size});
      border-radius: var(--ids-comp-menu-item-active-indicator-size-border-radius-#{$size});
    }
  }

  @each $variant in $variants {
    &.ids-active-indicator--active:has(.ids-menu-item.ids-menu-item-#{$variant}):after {
      background-color: var(--ids-comp-menu-item-active-indicator-color-bg-#{$variant}-default);
    }
  }
}
