@use '../reset';

$sizes: compact, comfortable, spacious, dense;
$variants: surface, light, dark;
$orientations: horizontal, vertical;

@mixin typography($token, $size) {
  font-family: var(--#{$token}-font-family-#{$size});
  font-size: var(--#{$token}-font-size-#{$size});
  font-weight: var(--#{$token}-font-weight-#{$size});
  line-height: var(--#{$token}-line-height-#{$size});
  letter-spacing: var(--#{$token}-letter-spacing-#{$size});
}

@mixin radio-state($variant, $selected, $error, $state) {
  $selected-key: if($selected, 'selected', 'unselected');
  $error-key: if($error, '-error', '');

  border-color: var(--ids-comp-radio-input-#{$selected-key}-color-border-#{$variant}#{$error-key}-#{$state});
  background-color: var(--ids-comp-radio-input-#{$selected-key}-color-bg-#{$variant}-#{$state});

  @if $selected {
    & + .ids-radio__inner-circle {
      border-color: var(--ids-comp-radio-input-selected-inner-circle-color-border-#{$variant}#{$error-key}-#{$state});
      background: var(--ids-comp-radio-input-selected-inner-circle-color-bg-#{$variant}#{$error-key}-#{$state});
    }
  }
}

@mixin radio-states($variant, $selected, $error: false) {
  &:not(:disabled) {
    @include radio-state($variant, $selected, $error, default);

    &:hover {
      @include radio-state($variant, $selected, $error, hovered);
    }

    &:active {
      @include radio-state($variant, $selected, $error, pressed);
    }

    &:focus,
    &:focus-visible {
      @include radio-state($variant, $selected, $error, default);

      @if $error != true {
        $selected-key: if($selected, 'selected', 'unselected');
        outline-color: var(--ids-comp-radio-input-#{$selected-key}-color-focused-outline-#{$variant}-focused);
      }
    }
  }

  @if $error != true {
    &:disabled {
      @include radio-state($variant, $selected, false, disabled);
    }
  }
}

@mixin radio-external-hover($variant, $selected, $error: false) {
  &:not(.ids-radio-disabled):has(.ids-radio__label-wrapper:hover),
  &:not(.ids-radio-disabled):has(.ids-radio__touch-target:hover) {
    input[type='radio']:not(:disabled) {
      @include radio-state($variant, $selected, $error, hovered);
    }

    .ids-radio__label {
      color: var(--ids-comp-radio-label-color-fg-#{$variant}-hovered);
    }
  }
}

.ids-radio-group {
  @include reset.component;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &.ids-radio-group-left {
    align-items: flex-start;
  }

  &.ids-radio-group-right {
    align-items: flex-start;
  }

  & > .ids-radio-group__legend {
    display: flex;
    flex-direction: column;
  }

  & > .ids-radio-group__legend > .ids-radio-group__legend-container > .ids-radio-group__legend-label {
    font-style: normal;
  }

  & > .ids-radio-group__list {
    display: flex;
  }

  &.ids-radio-group-horizontal > .ids-radio-group__list {
    flex-direction: row;
    align-items: center;
  }

  &.ids-radio-group-horizontal.ids-radio-group-top > .ids-radio-group__list {
    align-items: flex-end;
  }

  &.ids-radio-group-horizontal.ids-radio-group-bottom > .ids-radio-group__list {
    align-items: flex-start;
  }

  &.ids-radio-group-vertical > .ids-radio-group__list {
    flex-direction: column;
    align-items: center;
  }

  &.ids-radio-group-vertical.ids-radio-group-left > .ids-radio-group__list {
    align-items: flex-end;
  }

  &.ids-radio-group-vertical.ids-radio-group-right > .ids-radio-group__list {
    align-items: flex-start;
  }

  .ids-radio {
    display: flex;
    align-items: center;

    &.ids-radio-left {
      flex-direction: row-reverse;
      justify-content: start;
    }

    &.ids-radio-right {
      flex-direction: row;
      justify-content: start;
    }

    &.ids-radio-top {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    &.ids-radio-bottom {
      flex-direction: column;
      align-items: center;
    }

    &.ids-radio-top,
    &.ids-radio-bottom {
      .ids-radio__label-wrapper {
        align-items: center;
      }

      .ids-radio__label {
        justify-content: center;
        text-align: center;
      }
    }

    &.ids-radio-left,
    &.ids-radio-right {
      .ids-radio__label-wrapper {
        align-items: flex-start;
      }

      .ids-radio__label {
        justify-content: start;
      }
    }

    .ids-radio__input-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ids-radio__touch-target {
      position: absolute;
      cursor: pointer;
    }

    input[type='radio'] {
      appearance: none;
      -webkit-appearance: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin: 0;
      border-style: solid;
      cursor: pointer;

      &:focus,
      &:focus-visible {
        outline-offset: 2px;
        outline-style: solid;
      }

      & + .ids-radio__inner-circle {
        position: absolute;
        flex-shrink: 0;
        width: 0;
        height: 0;
        border-width: 0;
        border-style: solid;
        cursor: pointer;
      }
    }

    .ids-radio__label-wrapper {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }

    .ids-radio__label {
      display: flex;
      align-items: center;
      flex: 1 0 0;
      font-style: normal;
      cursor: pointer;
    }

    &.ids-radio-disabled {
      .ids-radio__touch-target,
      input[type='radio'],
      input[type='radio'] + .ids-radio__inner-circle,
      .ids-radio__label-wrapper,
      .ids-radio__label {
        cursor: not-allowed;
      }
    }
  }

  @each $size in $sizes {
    &.ids-radio-group-#{$size} {
      padding: var(--ids-comp-radio-group-vertical-fieldset-size-padding-y-#{$size})
        var(--ids-comp-radio-group-vertical-fieldset-size-padding-x-#{$size});
      gap: var(--ids-comp-radio-group-vertical-fieldset-size-gap-#{$size});

      & > .ids-radio-group__legend {
        gap: var(--ids-comp-radio-group-vertical-fieldset-legend-size-gap-#{$size});
      }

      @each $orientation in $orientations {
        &.ids-radio-group-#{$orientation} {
          & > .ids-radio-group__legend > .ids-radio-group__legend-container > .ids-radio-group__legend-label {
            @include typography(
              'ids-comp-radio-group-#{$orientation}-fieldset-legend-typography',
              $size
            );
          }

          & > .ids-radio-group__list {
            @if $orientation == vertical {
              gap: var(--ids-comp-radio-group-vertical-fieldset-list-size-gap-#{$size});
            } @else {
              gap: var(--ids-comp-radio-group-horizontal-fieldset-list-size-gap-y-#{$size})
                var(--ids-comp-radio-group-horizontal-fieldset-list-size-gap-x-#{$size});
            }
          }
        }
      }

      .ids-radio {
        padding: var(--ids-comp-radio-button-container-size-padding-y-#{$size})
          var(--ids-comp-radio-button-container-size-padding-x-#{$size});
        gap: var(--ids-comp-radio-button-container-size-gap-#{$size});

        .ids-radio__input-wrapper {
          $input-height: var(--ids-comp-radio-button-input-size-height-#{$size});
          $input-width: var(--ids-comp-radio-button-input-size-width-#{$size});
          $touch-height: var(--ids-comp-radio-button-input-size-touchtarget-height-#{$size});
          $touch-width: var(--ids-comp-radio-button-input-size-touchtarget-width-#{$size});

          .ids-radio__touch-target {
            top: calc(($input-height - $touch-height) / 2);
            left: calc(($input-width - $touch-width) / 2);
            width: $touch-width;
            height: $touch-height;
          }

          input[type='radio'] {
            width: $input-width;
            height: $input-height;
            border-radius: var(--ids-comp-radio-button-input-size-border-radius-#{$size});
            border-width: var(--ids-comp-radio-button-input-size-border-width-#{$size});

            &:checked + .ids-radio__inner-circle {
              width: var(--ids-comp-radio-button-input-inner-circle-size-width-#{$size});
              height: var(--ids-comp-radio-button-input-inner-circle-size-height-#{$size});
              border-radius: var(--ids-comp-radio-button-input-inner-circle-size-border-radius-#{$size});
              border-width: var(--ids-comp-radio-button-input-inner-circle-size-border-width-#{$size});
            }

            &:focus,
            &:focus-visible {
              outline-width: var(--ids-comp-radio-focused-outline-outline-#{$size});
            }
          }
        }

        .ids-radio__label-wrapper {
          gap: var(--ids-comp-radio-button-label-group-size-gap-#{$size});
        }

        .ids-radio__label {
          padding: var(--ids-comp-radio-button-label-size-padding-y-#{$size}) 0;

          @include typography('ids-comp-radio-button-label-typography', $size);
        }
      }
    }
  }

  @each $variant in $variants {
    &.ids-radio-group-#{$variant} {
      .ids-radio-group__legend-label {
        color: var(--ids-comp-radio-group-legend-color-fg-#{$variant}-default);
      }

      &.ids-radio-group-disabled .ids-radio-group__legend-label {
        color: var(--ids-comp-radio-group-legend-color-fg-#{$variant}-disabled);
      }
    }

    .ids-radio-#{$variant} {
      input[type='radio'] {
        @include radio-states($variant, false);

        &:checked {
          @include radio-states($variant, true);
        }
      }

      @include radio-external-hover($variant, false);

      &:has(input[type='radio']:checked) {
        @include radio-external-hover($variant, true);
      }

      .ids-radio__label {
        color: var(--ids-comp-radio-label-color-fg-#{$variant}-default);

        &:active {
          color: var(--ids-comp-radio-label-color-fg-#{$variant}-pressed);
        }

        &:focus,
        &:focus-visible {
          color: var(--ids-comp-radio-label-color-fg-#{$variant}-focused);
        }
      }

      &.ids-radio-disabled .ids-radio__label {
        color: var(--ids-comp-radio-label-color-fg-#{$variant}-disabled);
      }
    }
  }

  &.ids-radio-group-invalid {
    @each $variant in $variants {
      .ids-radio-#{$variant} {
        input[type='radio'] {
          @include radio-states($variant, false, true);

          &:checked {
            @include radio-states($variant, true, true);
          }
        }

        @include radio-external-hover($variant, false, true);

        &:has(input[type='radio']:checked) {
          @include radio-external-hover($variant, true, true);
        }
      }
    }
  }
}