$appearances: 'text', 'filled';
$variants: 'surface';
$sizes: 'compact', 'comfortable', 'spacious';

.ids-action-item {
  width: 100%;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  .ids-action-item-label {
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
  }

  *[icon-leading],
  *[icon-trailing] {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @each $size in $sizes {
    &.ids-action-item-#{$size} {
      gap: var(--ids-comp-action-item-size-gap-#{$size});
      border-radius: var(--ids-comp-action-item-size-border-radius-#{$size});
      padding: var(--ids-comp-action-item-size-padding-y-#{$size}) var(--ids-comp-action-item-size-padding-x-#{$size});
      height: var(--ids-comp-action-item-size-height-#{$size});
      font-family: var(--ids-comp-action-item-label-typography-font-family-#{$size});
      font-size: var(--ids-comp-action-item-label-typography-font-size-#{$size});
      font-weight: var(--ids-comp-action-item-label-typography-font-weight-#{$size});
      letter-spacing: var(--ids-comp-action-item-label-typography-letter-spacing-#{$size});
      line-height: var(--ids-comp-action-item-label-typography-line-height-#{$size});

      *[icon-leading],
      *[icon-trailing] {
        width: var(--ids-comp-action-item-size-icon-#{$size});
        height: var(--ids-comp-action-item-size-icon-#{$size});
      }

      @each $appearance in $appearances {
        @each $variant in $variants {
          &.ids-action-item-#{$appearance}.ids-action-item-#{$variant} {
            border-style: solid;
            border-width: var(--ids-comp-action-item-size-border-width-#{$size});
            border-color: var(--ids-comp-action-item-#{$appearance}-color-border-#{$variant}-enabled);

            &:hover {
              border-color: var(--ids-comp-action-item-#{$appearance}-color-border-#{$variant}-hovered);
            }

            &:disabled {
              border-color: var(--ids-comp-action-item-#{$appearance}-color-border-#{$variant}-disabled);
            }
          }
        }
      }
    }
  }

  @each $appearance in $appearances {
    &.ids-action-item-#{$appearance} {
      @each $variant in $variants {
        &.ids-action-item-#{$variant} {
          color: var(--ids-comp-action-item-#{$appearance}-color-fg-label-#{$variant}-enabled);
          background: var(--ids-comp-action-item-#{$appearance}-color-bg-#{$variant}-enabled);

          &.ids-action-item-active {
            color: var(--ids-comp-action-item-#{$appearance}-color-fg-label-#{$variant}-active);
            background: var(--ids-comp-action-item-#{$appearance}-color-bg-#{$variant}-active);
          }

          &:hover {
            color: var(--ids-comp-action-item-#{$appearance}-color-fg-label-#{$variant}-hovered);
            background: var(--ids-comp-action-item-#{$appearance}-color-bg-#{$variant}-hovered);
          }

          &:focus {
            color: var(--ids-comp-action-item-#{$appearance}-color-fg-label-#{$variant}-focused);
            background: var(--ids-comp-action-item-#{$appearance}-color-bg-#{$variant}-focused);
          }

          &:active {
            background: var(--ids-comp-action-item-#{$appearance}-color-bg-#{$variant}-pressed);
          }

          &:disabled {
            color: var(--ids-comp-action-item-#{$appearance}-color-fg-label-#{$variant}-disabled);
            background: var(--ids-comp-action-item-#{$appearance}-color-bg-#{$variant}-disabled);
          }
        }
      }
    }
  }
}
